.noise {
  position: fixed;
  inset: 0;

  pointer-events: none;

  opacity: .035;

  background-image:
    radial-gradient(circle, rgba(255,255,255,.18) 1px, transparent 1px);

  background-size: 4px 4px;

  mix-blend-mode: soft-light;
}